<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1077270955490-bfm2dmuk2ij64htak81qtgq68gvckuov.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1077270955490-bfm2dmuk2ij64htak81qtgq68gvckuov</string>
	<key>API_KEY</key>
	<string>AIzaSyASF_Xrv7p3jzhCEK6M32vSFC8Qm-c1CP0</string>
	<key>GCM_SENDER_ID</key>
	<string>1077270955490</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fedir72.instaClone</string>
	<key>PROJECT_ID</key>
	<string>instaclone-cf34d</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclone-cf34d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1077270955490:ios:5d597394d540763bf725bb</string>
</dict>
</plist>